/**************************************************************Overwrite Bootstrap**********************************/
#top {
    width: 10px;
}
a:hover{
    text-decoration:none;
}
a:visited {
    text-decoration: none;
}
a:active {
    text-decoration: none;
}


.french-heading {
    color: blue;
    font-size: 25px;
}

.english-heading {
    color: #74b9ff;
    font-size: 15px;
}

.Head1 {
    font-size: 35px;
    color: red;
}

.navbar-inverse {
    background-color: #7FDBFF;
    border-color: #17c0eb;
}

    .navbar-inverse .btn-link {
        color: green;
    }

    .navbar-inverse .navbar-brand {
        color: green;
    }

    .navbar-inverse .navbar-link {
        color: #666;
        font-weight: 600;
    }


.navbar-fixed-top, .navbar-fixed-bottom {
    position: relative;
}

.navbar-inverse .navbar-nav > li > a {
    color: #666;
    font-weight: 600;
}

/******************************************************************************************************************/

.level {
    width: calc(50% - 20px);
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    border: 2px solid red;
    border-radius: 25px;
    float: left;
}
.topic {
    width: calc(50% - 20px);
    min-height: 200px;
    padding: 10px;
    margin: 10px;
    /*border: 2px solid red;
    border-radius: 25px;*/
    float: left;
}

    .level p {
        color: red;
    }

    .level .heading {
        font-size: 30px;
    }
    .level .heading2 {
        font-size: 18px;
    }
    .level .heading3 {
        font-size: 12px;
    }

    .level .question {
        font-size: 18px;
        margin-top: 10px;
    }
    .level .answer {
        font-size: 18px;
        display: inline;
        margin-right: 15px
    }

#level0 {
    border-color: #009999;
}

    #level0 p {
        color: #009999;
    }
    #level0 .btn-info {
        background-color: #009999;
    }
    #level0 .button0 {
        background-color: white;
        color: black;
        border: 2px solid #009999;
    }
    #level0 .button0:hover {
        background-color: #009999;
        border: 2px solid #009999;
    }

#level1 {
    border-color: #ff7675;
}

    #level1 p {
        color: #ff7675;
    }
    #level1 .btn-info {
        background-color: #ff7675;
        border-color: #ff6361;
    }
    level1 .btn-info:hover{
        background-color: #ff0000;
    }


#level1 .button0 {
    background-color: #ff7675;
    
    color: black;
    border: 2px solid #ff7675;
}

    #level1 .button0:hover {
        background-color: white;
        border: 2px solid #ff7675;
    }

#level2 {
    border-color: #ff9900;
}

    #level2 p {
        color: #ff9900;
    }
    #level2 .button0 {
        background-color: #ff9900;
        color: black;
        border: 2px solid #ff9900;
    }

        #level2 .button0:hover {
            background-color: white;            
            border: 2px solid #ff9900;
        }


#level3 {
    border-color: #33cc33;
}

    #level3 p {
        color: #33cc33;
    }
    #level3 .button0 {
        background-color: #33cc33;
        color: black;
        border: 2px solid #33cc33;
    }

        #level3 .button0:hover {
            background-color: white;            
            border: 2px solid #33cc33;
        }

#level4 {
    border-color: #cc66ff;
}

    #level4 p {
        color: #cc66ff;
    }
    #level4 .button0 {
        background-color: white;
        color: black;
        border: 2px solid #cc66ff;
    }

    #level4 .button0:hover {
        background-color: #cc66ff;
        border: 2px solid #cc66ff;
    }
#level5 {
    /*border-color: #cc0066;*/
    border-color: #0984e3;
}

    #level5 p {
        color: #0984e3;
    }
    #level5 .button0 {
        background-color: white;
        color: black;
        border: 2px solid #0984e3;
    }

    #level5 .button0:hover {
        background-color: #0984e3;
        border: 2px solid #0984e3;
    }



#level6 {
    border-color: #fdcb6e;
}

    #level6 p {
        color: #fdcb6e;
    }

#level7 {
    border-color: #009900;
}

    #level7 p {
        color: #009900;
    }
#level8 {
    border-color: #cc5200;
}

    #level8 p {
        color: #cc5200;
    }



.red {
    color: #ff0000;
     font-weight: 600;
}
.clear_float {
    clear: both;
}
/*
    Table
*/
.table-hover {
    width: 100%;
}

    .table-hover td, th {
        padding: 15px;
    }

.noEx {
    text-align: center;
}

/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/* Create three unequal columns that floats next to each other */

.column {
    float: left;
    padding: 10px;
}



    /* Left and right column */

    .column.side {
        width: 25%;
    }



    /* Middle column */

    .column.middle {
        width: 50%;
    }



/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}
/**************************************** BUTTONS ************************************************/

.button {
    background-color: none;
    border: none;
    border-radius: 12px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: solid;
    display: inline-block;
    font-size: 16px;
    margin: 150px 0px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}









/********************************************************************************************************